* {
    margin: 0;
    padding: 0;
}
body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: rgba(0, 35, 91, .8);
    background-color: rgb(152, 223, 214);
    overflow-x: hidden;
}
.nav-main .nav-items a, .nav-second .nav-items a {
    text-decoration: none;
    color:rgba(0, 35, 91, .8);
}
.nav-main .nav-items li a:hover, .nav-second .nav-items li a:hover {
    color: rgba(226, 24, 24, .6);
}
/* navbar 1 section */
.nav-main {
    /* layouting */
    display: grid;
    grid-template-columns: 
        "1fr 5fr"
        "1fr 5fr";
    grid-template-areas: 
        "logo menu1"
        "logo menu2";
    justify-content: space-around;
    /* profiles */
    width: 100vw;
    font-size: calc(3vmin + 5px);
}
.nav-main .logo {
    grid-area: logo;
    z-index: 2;
    background-color: rgba(255, 255, 255, .7);
    border-radius: 0 0 50% 50%;
}
.nav-main .logo-2 {
    position: fixed;
    top:0;
    left: 48px;z-index: 1;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 0 0 10px 10px;
}
.nav-main .logo img {
    width: 80px;
}
.nav-main .nav-items {
    /* layouting */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 3px;
    /* profiles */
    width: 80vw;
    grid-area: menu1;
    list-style: none;
    background-color: rgba(0, 35, 91, .3);
    border-radius: 0 0 60% 0;
    border-bottom: 3px solid rgba(0,0,0,.4);
}
.nav-main .expand {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* color: rgba(255, 221, 131, .85); */
    color:goldenrod;
}
.nav-main .expand p {
    text-shadow: 1px 1px 1px rgba(0,0,0,.3);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
/* navbar 2 section */
.nav-second .nav-items {
    /* layouting */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    /* profiles */
    width: 100vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    text-transform: capitalize;
    list-style: none;
    gap: 3px;
    background-color: brown;
}
.nav-second .nav-items li {
    background-color: rgba(152, 223, 214,1);
    padding: 6px;
    border-radius: 6px;
    border-bottom: 5px solid white;
}
.nav-second .nav-items li a:hover {
    color: rgba(165, 42, 42, 0.9);
    font-weight: bold;
}
.nav-second .nav-items a {
    color: rgba(165, 42, 42, 0.6);
}

/* header */
header {
    width: 100vw;
    display: grid;
    grid-template-columns: 2.5fr 1fr;
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,.8));
}
header .process {
    background-color: azure;
    display: flex;
}
.process .bg {
    background: linear-gradient(rgba(255, 255, 255, 0.9) 20%, rgba(255, 255, 255, 0.904) 50%), url(../imgs/moroccan-flower.png);
    background-blend-mode: difference;
    filter:saturate(.15);
}
.process .box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* background: url(../imgs/moroccan-flower.png), rgb(255, 255, 255); */
    background-blend-mode: difference;
    padding-top: 12px;
}
.process .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
}
.process .card h3 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 2px black;
    font-size: .8rem;
    /* font-weight: 300; */
    margin-bottom: 12px;
    text-transform: uppercase;
}
.process .card svg {
    width: 45px;
    border-radius: 50%;
    padding:5px;
    background: linear-gradient(to bottom, black 70%, white 85%);
    background: rgba(0, 0, 0, 0.521);
    fill: rgba(255, 255, 255, 0.808);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.404);
    border: 3px solid rgba(255, 255, 255, 0.808);
}
/* contact section */
header .contact {
    width: 100%;
    background-image: url(../imgs/car-fall.jpg);
    background-attachment:fixed;
    background-position-y: center;
    background-position-x: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    color: rgba(210, 209, 247, 0.8);
    text-shadow: 0px 0px 1px black;
    padding: 0 30px 30px 0;
    box-sizing: border-box;
    z-index: 2;
}
header .contact::before {
    content: "";
    width: 100%;
    height: 40%;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 35, 91, .3);;
    position: absolute;
    z-index: -1;
}
/* about section */
.about {
    width: 90vw;
    background-color: brown;
    margin: 100px auto;
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    justify-items: end;
    position: relative;
    filter: drop-shadow(0px 5px 5px rgba(0,0,0,.6));
}
.about-text {
    width: 80%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: .5fr 2fr;
    margin: auto;
}
.about-text h1 {
    background-image: url(../imgs/about-1.jpg);
    /* background-attachment: fixed; */
    background-size: cover;
    background-position-y: center;
    background-position-x: left;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 32px;
}
.about-text p {
    padding-left: 30px;
}
.about-pict {
    width:60%;
    height: 60vh;
    /* overflow: hidden; */
    clip-path: polygon(100px 0, 100% 0, 100% 100%, 0 100%, 0 100px, 100px 0);
}
.about-pict img {
    height: 120%;
}
/* form and excess */
.box {
    display: grid;
    grid-template-columns: 1fr .8fr;
    gap: 10px;
    width: 100vmax;
    background-color: goldenrod;
}
/* form */
.form {
    display: flex;
    flex-direction: column;
    margin: auto;
}
.masukan {
    display: grid;
}
.form input, .form textarea {
    width: 240px;
}
.form button {
    margin: 10px 60px 0;
    padding:5px 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:rgba(0, 35, 91, .8);
}
/* excess */
.excess {
    padding-bottom: 20px;
}
.excess .card {
    padding-bottom: 10px;
    padding-right: 30px;
}
.excess .card img {
    width: 70px;
}
/* footer section */
.second-footer {
    position: relative;
}
.second-footer .back {
    font-size: 30px;
    font-weight: 200;
    position: fixed;
    bottom: 40px;
    right: 53px;
    z-index: 3;
    text-decoration: none;
    color:rgba(0, 35, 91, .8);
}
.second-footer::after {
    content: '';
    width: 60px;
    height: 60px;
    background: linear-gradient(to bottom, rgba(32, 218, 94, 0.65) 70%, rgba(255,255,255,.65) 70%);
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 2;
}
.second-footer figure {
    background-color: #bbb;
    width: 100vw;
    height: 30px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.second-footer figcaption {
    padding: 0 30px 0 5px;
}
.main-footer {
    height: 10vh;
    width:100vw;
    background-image: url(../imgs/footer.jpg);
    background-size: cover;
    background-position-y: 350px;
    background-color: goldenrod;
    background-blend-mode: multiply;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: end;
    box-sizing: border-box;
    position: relative;
    overflow-y: hidden;
}
.main-footer h4 {
    position: absolute;
    top: 10px;;
    left: 10px;
}
.main-footer h4 a, .main-footer figcaption a {
    color: white;
    text-decoration: none;
}
footer h6 {
    padding-bottom:7px;
    padding-left:30px;
}
.main-footer h6 a, .main-footer h4 a {
    text-decoration: none;
}
footer.main-footer::before {
    content: '';
    background-image: url(../imgs/building-svgrepo-com.svg);
    width: 15px;
    height: 15px;
    position: absolute;
    bottom: 7px;
    left: 10px;
}
footer.main-footer figure {
    justify-self: end;
    align-self:center;
    margin-right: 50px;
    display:flex;
    flex-direction: row;
    align-items: center;
}
footer.main-footer img {
    padding: 3px;
}
.main-footer::after {
    content: '';
    width: 200px;
    height: 200px;
    background-color: rgba(218, 165, 32, 0.8);
    border-radius: 50%;
    position: absolute;
    bottom: 30px;
    left: 90px;
}